body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Lib header */
.header{
    text-align: center;
    font-size: 25px;
    box-shadow: 7px 13px 10px -7px rgba(0,0,0,0.32);
    background-color: #e6e6e6;
}

/* New book btn */

.newbtn-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.newbtn{
    background-color: #20F06C;
    text-align: center;
    border-radius: 10px;
    border-style: none;
    color: white;
    cursor: pointer;
    height: 50px;
    width: 130px;
    opacity: .7;
    font-size: 20px;
}
.newbtn:hover{
    opacity: 1;
}

/* Add book pop up */
.pop-up{
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 25px;
}
/* Form in pop up */
form{
    margin: 15% auto;
    gap: 10px;
    border-radius: 5px;
    padding: 10px;
    width: 15%;
    background-color: #fefefe;
}
form>input{
    height: 35px;
    width: 80%;
    border-style: none;
    border-radius: 5px;
    padding-left: 10px;
    font-weight: 500;
}
span{
    color: gray;
    float: right;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
legend{
    font-weight: 600;
    text-align: center;
}
.checkbox{
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
}
#submit{
    background-color: #20F06C;
    font-size: 17px;
    font-weight: 600;
    border-style: none;
    height: 40px;
    width: 85%;
    margin-top: 22px;
    margin-bottom: 20px;
    color: white;
    margin-left: 22px;
    margin-right: 10px;
    cursor: pointer;
}

/* Library container */
#lib-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    padding: 10px 30px;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    margin-top: 50px;
}

/* Book & book content */

.book-card{
    background-color: #bbb0b0;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 6px 6px 5px 1px rgba(201,201,201,1);
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    box-sizing: border-box;
}
/* 
#book-card button{
    font-size: 20px;
    height: 45px;
    width: 70%;
    border-radius: 10px;
    border-style: none;
    margin-bottom: 10px;
} */

.change-read-status{
    color: black;
    background-color: #fa8484;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
    border-style: none;
    border-radius: 10px;
    height: 45px;
    width: 100%;
    cursor: pointer;

}
.remove-book{
    color: black;
    font-size: 20px;
    font-weight: 600;
    border-style: none;
    border-radius: 10px;
    height: 45px;
    width: 100%;
    cursor: pointer;
}